body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    flex-direction: column; /* Alinea verticalmente el contenido */
}

h1 {
    color: #333;
    margin-bottom: 2rem;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Asegura que el contenedor no sea demasiado ancho en pantallas grandes */
}

.quote-icon {
    color: #007bff;
    font-size: 2rem;
    margin: 0 10px;
    animation: spin 5s infinite linear; /* Añade una animación de rotación */
}



#quote-box {
    position: relative; /* Para posicionar los iconos de forma absoluta dentro de este contenedor */
    margin-bottom: 30px;
}

blockquote {
    font-style: italic;
    font-size: 1.5em;
    margin: 0;
    position: relative; /* Asegura que el texto se muestre encima de los iconos */
    z-index: 1;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Añade espacio entre el botón y el selector de idioma */
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el selector de idioma */
#language-selector {
    margin-top: 20px;
}

.lang-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    opacity: 0.6;
    transition: background-color 0.3s, transform 0.3s;
}

.lang-btn.active,
.lang-btn:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-2px);
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        max-width: 100%;
    }

    blockquote {
        font-size: 1.2em;
    }
}
